[Container]
Image=lscr.io/linuxserver/calibre:latest
# 环境变量
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Asia/Shanghai
Environment=PASSWORD=110
Environment=CLI_ARGS=abc
# 端口映射
PublishPort=8081:8181
# 卷挂载
Volume=/data/appdata/calibre:/config:Z
Volume=/data/books:/calibre library:Z
Volume=/data/epub:/epub:Z

[Service]
# 重启策略
Restart=unless-stopped
# 可选：添加 systemd 依赖控制
Wants=network-online.target
After=network-online.target
[Install]
# 开机自启动
WantedBy=default.target
