[Container]
Image=docker.io/tinymediamanager/tinymediamanager:latest
# 环境变量
Environment=USER_ID=1000
Environment=GROUP_ID=1000
Environment=TZ=Asia/Shanghai
Environment=ALLOW_DIRECT_VNC=true
# 端口映射
PublishPort=5900:5900
PublishPort=4000:4000
# 卷挂载
Volume=/data/appdata/tinymediamanager:/data:Z
Volume=/data/Downloads/media:/media:Z

[Service]
# 重启策略
Restart=unless-stopped
# 可选：添加 systemd 依赖控制
Wants=network-online.target
After=network-online.target
[Install]
# 开机自启动
WantedBy=default.target
