[Container]
Image=docker.io/emby/embyserver:latest
# 环境变量
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Asia/Shanghai
# 端口映射
PublishPort=8097:8096
PublishPort=7359:7359/udp
# 卷挂载
Volume=/data/appdata/emby:/config:Z
Volume=/data/Downloads/media:/data:z
# 设备映射（用于硬件加速）
AddDevice=/dev/dri:/dev/dri

[Service]
# 重启策略
Restart=unless-stopped
# 可选：添加 systemd 依赖控制
Wants=network-online.target
After=network-online.target
[Install]
# 开机自启动
WantedBy=default.target
