[Container]
Image=docker.io/vaultwarden/server:latest
# 环境变量
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Asia/Shanghai
# 端口映射
PublishPort=8181:80
# 卷挂载
Volume=/data/appdata/vaultwarden:/data:Z

[Service]
# 重启策略
Restart=unless-stopped
# 可选：添加 systemd 依赖控制
Wants=network-online.target
After=network-online.target
[Install]
# 开机自启动
WantedBy=default.target
